:root {
    --puddles:  "Rubik Puddles", system-ui;
    --nosifer:  "Nosifer", sans-serif;
    --ole: "Ole", cursive;
    --mountains_of_xmas: "Mountains of Christmas", serif;
    --borel: "Borel", cursive;
    --moo_lah_lah: "Moo Lah Lah", sans-serif;
    --rye: "Rye", serif;
    --quicksand: "Quicksand", sans-serif;
    --orangeColor: rgb(235, 90, 46);
    --orangeColorHover: rgb(219, 113, 81);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background-image: url(public/new-images/background_forest.png);

    margin: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    /* border: 1px solid black; */
    display: grid; 
    grid-template-columns: 1fr 25rem;
    height: 100vh;
    width: 100vw;

}

h1{
    text-align: center;
    font-family: var(--quicksand);
    color: var(--orangeColor);
    font-size: 4em;
}

.board-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.card {
  width: 8em;
  height: 10em;
  perspective: 1000px; /* for 3D effect */
  margin: 1em;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* important! */
  border-radius: 10px;
  cursor: pointer;
  
}

.card-front {
  background-image: url(public/new-images/backcard.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}

.card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg); 
  background-size: cover;
  background-position: center;
}

.card-back p {
  font-family: var(--rye);
  margin-top: 1.4em;
  color: var(--orangeColor);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.8em;
}
.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 22em;
    max-height: vh;
    align-items: center;
    border: 5px solid var(--orangeColor);
    border-radius: 12px;
    margin: 2em;
    padding: 2em;
}

.sideBar > * {
    margin: 1.5em;
    padding: 1em;
}

label{
    font-family: var(--borel);
    font-size: 2em;
    color: var(--orangeColor);

}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-group input {
    background: transparent;
    border-radius: 15px;
    padding: 0.4em;
}

input, .start-button, .add-player {
    width: 14rem;
    height: 2rem;

}

.sidebar label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  
}

.sideBar button {
  background-color: var(--orangeColor);
  font-family: var(--quicksand);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 22px;
  width: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBar button:hover {
  background-color: var(--orangeColorHover);
}
/* 
.input-group label {
    position: absolute; 
    transform: translateY(-50%);
    top: 50%;
    left: 1rem;
    font-size: 1rem;
    pointer-events: none;
    padding: 0 .3rem;
    transition: .5s; 
}


.input-group input{
    outline: none;
    border-radius: 5px;
    border: 1.2px solid rgb(220, 223, 223);
    color: #fff;
    font-size: 1rem;
    padding: 0 .9rem;
    height: 2rem;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    background: #010031;
    font-size: .8rem;
} */


.language-dropdown {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
}

.selected-flag {
  width: 40px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #ddd;
  transition: transform 0.2s;
}

.selected-flag:hover {
  transform: scale(1.05);
}

.flag-dropdown {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 6px;
  z-index: 10;
}

.flag-dropdown.show {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 2em;
}

.flag-option {
  width: 30px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
}

.flag-option:hover {
  transform: scale(1.1);
}

.player-list {
    list-style: none;
    font-family: var(--quicksand);
    font-size: 2.5em;
    color: var(--orangeColor);
}

.player-list  li {
    width: 8em;
    display: flex;
    justify-content: space-around;
}
li .delete-player {
    width: .5rem;
    font-family: var(--quicksand);
    font-weight: 700;
    color: var(--orangeColor);
    background-color: transparent;
    font-size: .6em;
}

.results-overlay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: var(--quicksand);
  color: var(--orangeColor);
  font-weight: bold;
  gap: 1em;
  font-size: 1.2em;
  /* border: 1px solid red; */
}

.victory-list,
.points-list {
  list-style: none;
}

.results-overlay button {
  background-color: var(--orangeColor);
  font-family: var(--quicksand);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 22px;
  width: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.centered-board {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
